In [169]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession

In [170]:
home_work04 = (SparkSession.builder.master("Data_603").appName("HW04").getOrCreate())

In [171]:
df = spark.read.csv('Part1_Crime_data.csv', header=True,inferSchema=True)

In [172]:
df.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: string (nullable = true)

In [173]:
df.schema

StructType(List(StructField(X,DoubleType,true),StructField(Y,DoubleType,true),StructField(RowID,IntegerType,true),StructField(CrimeDateTime,StringType,true),StructField(CrimeCode,StringType,true),StructField(Location,StringType,true),StructField(Description,StringType,true),StructField(Inside_Outside,StringType,true),StructField(Weapon,StringType,true),StructField(Post,StringType,true),StructField(District,StringType,true),StructField(Neighborhood,StringType,true),StructField(Latitude,DoubleType,true),StructField(Longitude,DoubleType,true),StructField(GeoLocation,StringType,true),StructField(Premise,StringType,true),StructField(VRIName,StringType,true),StructField(Total_Incidents,IntegerType,true),StructField(Shape,StringType,true)))

In [174]:
df.cache()

DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: string, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: string, District: string, Neighborhood: string, Latitude: double, Longitude: double, GeoLocation: string, Premise: string, VRIName: string, Total_Incidents: int, Shape: string]

In [175]:
df.count()

513756

In [176]:
df.show(5)

+----------------+----------------+-----+--------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
|               X|               Y|RowID|       CrimeDateTime|CrimeCode|          Location|         Description|Inside_Outside| Weapon|Post| District|  Neighborhood|Latitude|Longitude|       GeoLocation|Premise|VRIName|Total_Incidents|Shape|
+----------------+----------------+-----+--------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
|1428019.10487147|589532.731060804|    1|2022/03/05 03:43:...|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1428019.10487147|589532.731060804|    2|2022/03/05 03:43:...|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1428019.10487147|589532.731060804|    3|2022/03/05 03:43:...|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1423024.46477252| 572683.29122287|    4|2022/03/05 04:30:...|      3CF|100 E PATAPSCO AVE|ROBBERY - COMMERCIAL|          null|FIREARM| 913| SOUTHERN|      BROOKLYN| 39.2385| -76.6092|(39.2385,-76.6092)|   null|   null|              1| null|
|1400632.37017858|593904.722108476|    5|2022/03/05 01:30:...|      3AF|     RD & KEVIN RD|    ROBBERY - STREET|          null|FIREARM| 822|SOUTHWEST|ROGNEL HEIGHTS|  39.297|  -76.688|  (39.297,-76.688)|   null|   null|              1| null|
+----------------+----------------+-----+--------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
only showing top 5 rows

In [177]:
#1.
df.select('CrimeCode').distinct().sort('CrimeCode').collect()

[Row(CrimeCode='1A'),
 Row(CrimeCode='1K'),
 Row(CrimeCode='1O'),
 Row(CrimeCode='2A'),
 Row(CrimeCode='2B'),
 Row(CrimeCode='3AF'),
 Row(CrimeCode='3AJF'),
 Row(CrimeCode='3AJK'),
 Row(CrimeCode='3AJO'),
 Row(CrimeCode='3AK'),
 Row(CrimeCode='3AO'),
 Row(CrimeCode='3B'),
 Row(CrimeCode='3BJ'),
 Row(CrimeCode='3C'),
 Row(CrimeCode='3CF'),
 Row(CrimeCode='3CK'),
 Row(CrimeCode='3CO'),
 Row(CrimeCode='3D'),
 Row(CrimeCode='3E'),
 Row(CrimeCode='3EF'),
 Row(CrimeCode='3EK'),
 Row(CrimeCode='3EO'),
 Row(CrimeCode='3F'),
 Row(CrimeCode='3GF'),
 Row(CrimeCode='3GK'),
 Row(CrimeCode='3GO'),
 Row(CrimeCode='3H'),
 Row(CrimeCode='3J'),
 Row(CrimeCode='3JF'),
 Row(CrimeCode='3JK'),
 Row(CrimeCode='3JO'),
 Row(CrimeCode='3K'),
 Row(CrimeCode='3L'),
 Row(CrimeCode='3LF'),
 Row(CrimeCode='3LK'),
 Row(CrimeCode='3LO'),
 Row(CrimeCode='3M'),
 Row(CrimeCode='3N'),
 Row(CrimeCode='3NF'),
 Row(CrimeCode='3NK'),
 Row(CrimeCode='3NO'),
 Row(CrimeCode='3P'),
 Row(CrimeCode='4A'),
 Row(CrimeCode='4B'),
 Row(CrimeCode='4C'),
 Row(CrimeCode='4D'),
 Row(CrimeCode='4E'),
 Row(CrimeCode='5A'),
 Row(CrimeCode='5B'),
 Row(CrimeCode='5C'),
 Row(CrimeCode='5D'),
 Row(CrimeCode='5E'),
 Row(CrimeCode='5F'),
 Row(CrimeCode='5G'),
 Row(CrimeCode='6A'),
 Row(CrimeCode='6B'),
 Row(CrimeCode='6C'),
 Row(CrimeCode='6D'),
 Row(CrimeCode='6E'),
 Row(CrimeCode='6F'),
 Row(CrimeCode='6G'),
 Row(CrimeCode='6H'),
 Row(CrimeCode='6J'),
 Row(CrimeCode='6K'),
 Row(CrimeCode='6L'),
 Row(CrimeCode='7A'),
 Row(CrimeCode='7B'),
 Row(CrimeCode='7C'),
 Row(CrimeCode='8AO'),
 Row(CrimeCode='8AV'),
 Row(CrimeCode='8BO'),
 Row(CrimeCode='8BV'),
 Row(CrimeCode='8CO'),
 Row(CrimeCode='8CV'),
 Row(CrimeCode='8DO'),
 Row(CrimeCode='8EO'),
 Row(CrimeCode='8EV'),
 Row(CrimeCode='8FO'),
 Row(CrimeCode='8FV'),
 Row(CrimeCode='8GO'),
 Row(CrimeCode='8GV'),
 Row(CrimeCode='8H'),
 Row(CrimeCode='8I'),
 Row(CrimeCode='8J'),
 Row(CrimeCode='9S')]

In [178]:
#2.
df.groupBy('CrimeCode').count().sort('count',ascending=False).collect()

[Row(CrimeCode='4E', count=91822),
 Row(CrimeCode='6D', count=68508),
 Row(CrimeCode='5A', count=43956),
 Row(CrimeCode='7A', count=40308),
 Row(CrimeCode='6J', count=27670),
 Row(CrimeCode='6G', count=26898),
 Row(CrimeCode='6E', count=24310),
 Row(CrimeCode='6C', count=23269),
 Row(CrimeCode='4C', count=22455),
 Row(CrimeCode='5D', count=14971),
 Row(CrimeCode='3AF', count=14760),
 Row(CrimeCode='4B', count=14501),
 Row(CrimeCode='4A', count=13240),
 Row(CrimeCode='3B', count=10735),
 Row(CrimeCode='4D', count=7222),
 Row(CrimeCode='5B', count=6481),
 Row(CrimeCode='9S', count=5452),
 Row(CrimeCode='6F', count=5058),
 Row(CrimeCode='5C', count=4917),
 Row(CrimeCode='6B', count=4106),
 Row(CrimeCode='3CF', count=3776),
 Row(CrimeCode='2A', count=3172),
 Row(CrimeCode='3AJF', count=3020),
 Row(CrimeCode='3AK', count=2982),
 Row(CrimeCode='3K', count=2833),
 Row(CrimeCode='7C', count=2726),
 Row(CrimeCode='1A', count=2631),
 Row(CrimeCode='3AO', count=2486),
 Row(CrimeCode='5F', count=2192),
 Row(CrimeCode='3JF', count=1819),
 Row(CrimeCode='3D', count=1432),
 Row(CrimeCode='5E', count=1419),
 Row(CrimeCode='6L', count=1206),
 Row(CrimeCode='8H', count=1053),
 Row(CrimeCode='3P', count=873),
 Row(CrimeCode='3GF', count=800),
 Row(CrimeCode='6A', count=782),
 Row(CrimeCode='3BJ', count=754),
 Row(CrimeCode='3CK', count=591),
 Row(CrimeCode='3CO', count=516),
 Row(CrimeCode='3NF', count=445),
 Row(CrimeCode='3JK', count=423),
 Row(CrimeCode='8AO', count=413),
 Row(CrimeCode='3JO', count=413),
 Row(CrimeCode='2B', count=355),
 Row(CrimeCode='7B', count=291),
 Row(CrimeCode='8J', count=279),
 Row(CrimeCode='3H', count=261),
 Row(CrimeCode='1K', count=230),
 Row(CrimeCode='3AJO', count=225),
 Row(CrimeCode='6H', count=222),
 Row(CrimeCode='3J', count=216),
 Row(CrimeCode='1O', count=192),
 Row(CrimeCode='3N', count=181),
 Row(CrimeCode='3EF', count=177),
 Row(CrimeCode='3AJK', count=172),
 Row(CrimeCode='8FO', count=154),
 Row(CrimeCode='3GO', count=133),
 Row(CrimeCode='3M', count=121),
 Row(CrimeCode='8AV', count=121),
 Row(CrimeCode='3F', count=120),
 Row(CrimeCode='3NK', count=120),
 Row(CrimeCode='3GK', count=117),
 Row(CrimeCode='8BO', count=104),
 Row(CrimeCode='3LF', count=97),
 Row(CrimeCode='3NO', count=83),
 Row(CrimeCode='8EO', count=78),
 Row(CrimeCode='3EO', count=47),
 Row(CrimeCode='8I', count=47),
 Row(CrimeCode='3EK', count=40),
 Row(CrimeCode='3LO', count=35),
 Row(CrimeCode='8BV', count=26),
 Row(CrimeCode='8GO', count=24),
 Row(CrimeCode='5G', count=21),
 Row(CrimeCode='8CO', count=13),
 Row(CrimeCode='8EV', count=10),
 Row(CrimeCode='8FV', count=9),
 Row(CrimeCode='6K', count=7),
 Row(CrimeCode='8GV', count=7),
 Row(CrimeCode='8CV', count=7),
 Row(CrimeCode='3LK', count=5),
 Row(CrimeCode='3E', count=5),
 Row(CrimeCode='3C', count=4),
 Row(CrimeCode='8DO', count=3),
 Row(CrimeCode='3L', count=1)]

In [179]:
#3.
df.groupBy('Neighborhood').count().sort('count',ascending=False).collect()

[Row(Neighborhood='DOWNTOWN', count=17818),
 Row(Neighborhood='FRANKFORD', count=12062),
 Row(Neighborhood='BELAIR-EDISON', count=10895),
 Row(Neighborhood='BROOKLYN', count=9043),
 Row(Neighborhood='CANTON', count=7548),
 Row(Neighborhood='SANDTOWN-WINCHESTER', count=7430),
 Row(Neighborhood='CHERRY HILL', count=7407),
 Row(Neighborhood='UPTON', count=6510),
 Row(Neighborhood='MOUNT VERNON', count=6160),
 Row(Neighborhood='FELLS POINT', count=6015),
 Row(Neighborhood='INNER HARBOR', count=5990),
 Row(Neighborhood='PATTERSON PARK NEIGHBORHOOD', count=5988),
 Row(Neighborhood='WASHINGTON VILLAGE/PIGTOWN', count=5940),
 Row(Neighborhood='HAMILTON HILLS', count=5917),
 Row(Neighborhood='COLDSTREAM HOMESTEAD MONTEBELLO', count=5819),
 Row(Neighborhood='MONDAWMIN', count=5761),
 Row(Neighborhood='MCELDERRY PARK', count=5676),
 Row(Neighborhood='CENTRAL PARK HEIGHTS', count=5258),
 Row(Neighborhood='CARROLLTON RIDGE', count=5034),
 Row(Neighborhood='BROADWAY EAST', count=5004),
 Row(Neighborhood='HAMPDEN', count=4719),
 Row(Neighborhood='EAST BALTIMORE MIDWAY', count=4618),
 Row(Neighborhood='RESERVOIR HILL', count=4517),
 Row(Neighborhood='MID-TOWN BELVEDERE', count=4440),
 Row(Neighborhood='ELLWOOD PARK/MONUMENT', count=4438),
 Row(Neighborhood='OLIVER', count=4280),
 Row(Neighborhood='MORRELL PARK', count=4180),
 Row(Neighborhood='CHARLES VILLAGE', count=4153),
 Row(Neighborhood='BALTIMORE HIGHLANDS', count=3998),
 Row(Neighborhood='PULASKI INDUSTRIAL AREA', count=3862),
 Row(Neighborhood='HARLEM PARK', count=3728),
 Row(Neighborhood='REISTERSTOWN STATION', count=3695),
 Row(Neighborhood='LAKELAND', count=3663),
 Row(Neighborhood='CURTIS BAY', count=3628),
 Row(Neighborhood='PENROSE/FAYETTE STREET OUTREACH', count=3614),
 Row(Neighborhood='WALTHERSON', count=3574),
 Row(Neighborhood='BETTER WAVERLY', count=3565),
 Row(Neighborhood='HIGHLANDTOWN', count=3516),
 Row(Neighborhood='CHARLES NORTH', count=3498),
 Row(Neighborhood='PENN NORTH', count=3412),
 Row(Neighborhood='IRVINGTON', count=3408),
 Row(Neighborhood='WASHINGTON HILL', count=3314),
 Row(Neighborhood='GLENHAM-BELHAR', count=3288),
 Row(Neighborhood='HOWARD PARK', count=3276),
 Row(Neighborhood='DUNBAR-BROADWAY', count=3237),
 Row(Neighborhood='MILLHILL', count=3228),
 Row(Neighborhood='EDNOR GARDENS-LAKESIDE', count=3188),
 Row(Neighborhood='BOLTON HILL', count=3063),
 Row(Neighborhood='GLEN', count=3037),
 Row(Neighborhood='BARCLAY', count=3005),
 Row(Neighborhood='FRANKLIN SQUARE', count=2935),
 Row(Neighborhood='RIVERSIDE', count=2903),
 Row(Neighborhood='POPPLETON', count=2816),
 Row(Neighborhood='FEDERAL HILL', count=2774),
 Row(Neighborhood='CARROLL - CAMDEN INDUSTRIAL AREA', count=2765),
 Row(Neighborhood='LOCH RAVEN', count=2763),
 Row(Neighborhood='BEREA', count=2743),
 Row(Neighborhood='WOODMERE', count=2741),
 Row(Neighborhood='OLDTOWN', count=2722),
 Row(Neighborhood='MADISON PARK', count=2670),
 Row(Neighborhood='JONESTOWN', count=2589),
 Row(Neighborhood='JOHNSTON SQUARE', count=2513),
 Row(Neighborhood='GREEKTOWN', count=2512),
 Row(Neighborhood='NEW NORTHWOOD', count=2493),
 Row(Neighborhood='NORTH HARFORD ROAD', count=2434),
 Row(Neighborhood='UPPER FELLS POINT', count=2429),
 Row(Neighborhood='CARE', count=2403),
 Row(Neighborhood='HOLLINS MARKET', count=2399),
 Row(Neighborhood='ROSEMONT', count=2386),
 Row(Neighborhood='CANTON INDUSTRIAL AREA', count=2377),
 Row(Neighborhood='NEW SOUTHWEST/MOUNT CLARE', count=2311),
 Row(Neighborhood='ALLENDALE', count=2307),
 Row(Neighborhood='ARLINGTON', count=2201),
 Row(Neighborhood='MADISON-EASTEND', count=2187),
 Row(Neighborhood='PARK CIRCLE', count=2161),
 Row(Neighborhood='GAY STREET', count=2150),
 Row(Neighborhood='WALBROOK', count=2141),
 Row(Neighborhood='DRUID HEIGHTS', count=2137),
 Row(Neighborhood='MIDDLE EAST', count=2093),
 Row(Neighborhood='LAURAVILLE', count=2069),
 Row(Neighborhood='COPPIN HEIGHTS/ASH-CO-EAST', count=2042),
 Row(Neighborhood='DOWNTOWN WEST', count=2009),
 Row(Neighborhood='REMINGTON', count=1985),
 Row(Neighborhood='HANLON-LONGWOOD', count=1983),
 Row(Neighborhood='WAVERLY', count=1982),
 Row(Neighborhood='GREENSPRING', count=1940),
 Row(Neighborhood='CEDMONT', count=1937),
 Row(Neighborhood='MIDTOWN-EDMONDSON', count=1928),
 Row(Neighborhood='VIOLETVILLE', count=1922),
 Row(Neighborhood='EDMONDSON VILLAGE', count=1921),
 Row(Neighborhood='SHIPLEY HILL', count=1920),
 Row(Neighborhood='GREENMOUNT WEST', count=1906),
 Row(Neighborhood='BRIDGEVIEW/GREENLAWN', count=1887),
 Row(Neighborhood='SETON HILL', count=1818),
 Row(Neighborhood='ARMISTEAD GARDENS', count=1800),
 Row(Neighborhood='GRACELAND PARK', count=1799),
 Row(Neighborhood='MILTON-MONTFORD', count=1780),
 Row(Neighborhood=None, count=1775),
 Row(Neighborhood="BUTCHER'S HILL", count=1771),
 Row(Neighborhood='PEN LUCY', count=1717),
 Row(Neighborhood='SOUTH BALTIMORE', count=1707),
 Row(Neighborhood='GLEN OAKS', count=1682),
 Row(Neighborhood='WESTFIELD', count=1629),
 Row(Neighborhood='FALLSTAFF', count=1612),
 Row(Neighborhood='EDGEWOOD', count=1594),
 Row(Neighborhood='BEECHFIELD', count=1590),
 Row(Neighborhood='WESTPORT', count=1590),
 Row(Neighborhood='CYLBURN', count=1584),
 Row(Neighborhood='FRANKLINTOWN ROAD', count=1562),
 Row(Neighborhood='BAYVIEW', count=1553),
 Row(Neighborhood='SAINT JOSEPHS', count=1551),
 Row(Neighborhood='NORTHWEST COMMUNITY ACTION', count=1546),
 Row(Neighborhood='OLD GOUCHER', count=1543),
 Row(Neighborhood='PARKVIEW/WOODBROOK', count=1537),
 Row(Neighborhood='UNIVERSITY OF MARYLAND', count=1515),
 Row(Neighborhood='DORCHESTER', count=1510),
 Row(Neighborhood='DOLFIELD', count=1490),
 Row(Neighborhood='ROGNEL HEIGHTS', count=1483),
 Row(Neighborhood='PATTERSON PLACE', count=1460),
 Row(Neighborhood='PENN-FALLSWAY', count=1459),
 Row(Neighborhood='HARWOOD', count=1411),
 Row(Neighborhood='MOSHER', count=1407),
 Row(Neighborhood='HOMELAND', count=1404),
 Row(Neighborhood='UNION SQUARE', count=1383),
 Row(Neighborhood='WESTGATE', count=1375),
 Row(Neighborhood='MOUNT WASHINGTON', count=1370),
 Row(Neighborhood='ASHBURTON', count=1369),
 Row(Neighborhood='SOUTH CLIFTON PARK', count=1364),
 Row(Neighborhood='EASTERWOOD', count=1361),
 Row(Neighborhood='ROLAND PARK', count=1350),
 Row(Neighborhood='MOUNT HOLLY', count=1337),
 Row(Neighborhood='PARKSIDE', count=1330),
 Row(Neighborhood='BROENING MANOR', count=1328),
 Row(Neighborhood='ROSEMONT HOMEOWNERS/TENANTS', count=1324),
 Row(Neighborhood='WEST ARLINGTON', count=1321),
 Row(Neighborhood='YALE HEIGHTS', count=1318),
 Row(Neighborhood='GWYNNS FALLS', count=1305),
 Row(Neighborhood='BREWERS HILL', count=1304),
 Row(Neighborhood='LITTLE ITALY', count=1278),
 Row(Neighborhood='HILLEN', count=1273),
 Row(Neighborhood='PARKLANE', count=1266),
 Row(Neighborhood='CHESWOLDE', count=1257),
 Row(Neighborhood='WEST FOREST PARK', count=1246),
 Row(Neighborhood='CEDONIA', count=1245),
 Row(Neighborhood='ABELL', count=1238),
 Row(Neighborhood='CLIFTON PARK', count=1208),
 Row(Neighborhood='TOWANDA-GRANTLEY', count=1176),
 Row(Neighborhood='PERKINS HOMES', count=1157),
 Row(Neighborhood='FOREST PARK', count=1152),
 Row(Neighborhood='PERRING LOCH', count=1140),
 Row(Neighborhood='GUILFORD', count=1134),
 Row(Neighborhood='LIBERTY SQUARE', count=1132),
 Row(Neighborhood='ROSEMONT EAST', count=1088),
 Row(Neighborhood='EAST ARLINGTON', count=1077),
 Row(Neighborhood='GROVE PARK', count=1077),
 Row(Neighborhood='WOODBERRY', count=1059),
 Row(Neighborhood='CROSS COUNTRY', count=1055),
 Row(Neighborhood='CALLAWAY-GARRISON', count=1050),
 Row(Neighborhood='BIDDLE STREET', count=1038),
 Row(Neighborhood='PIMLICO GOOD NEIGHBORS', count=1037),
 Row(Neighborhood='FOUR BY FOUR', count=1025),
 Row(Neighborhood='WINDSOR HILLS', count=1010),
 Row(Neighborhood='CARROLL-SOUTH HILTON', count=1009),
 Row(Neighborhood='LEVINDALE', count=993),
 Row(Neighborhood='OTTERBEIN', count=967),
 Row(Neighborhood='LANGSTON HUGHES', count=951),
 Row(Neighborhood='WINCHESTER', count=947),
 Row(Neighborhood='DARLEY PARK', count=940),
 Row(Neighborhood='MEDFIELD', count=925),
 Row(Neighborhood='HERITAGE CROSSING', count=923),
 Row(Neighborhood='WOODBOURNE HEIGHTS', count=909),
 Row(Neighborhood='CENTRAL FOREST PARK', count=908),
 Row(Neighborhood='ORCHARD RIDGE', count=898),
 Row(Neighborhood='MEDFORD', count=897),
 Row(Neighborhood='GARWYN OAKS', count=894),
 Row(Neighborhood='WAKEFIELD', count=894),
 Row(Neighborhood='HUNTING RIDGE', count=892),
 Row(Neighborhood='SHARP-LEADENHALL', count=891),
 Row(Neighborhood='IDLEWOOD', count=883),
 Row(Neighborhood='MID-GOVANS', count=869),
 Row(Neighborhood='ORANGEVILLE', count=859),
 Row(Neighborhood="RIDGELY'S DELIGHT", count=858),
 Row(Neighborhood='CAMERON VILLAGE', count=846),
 Row(Neighborhood='WINSTON-GOVANS', count=828),
 Row(Neighborhood='KRESSON', count=828),
 Row(Neighborhood='PANWAY/BRADDISH AVENUE', count=816),
 Row(Neighborhood='RAMBLEWOOD', count=810),
 Row(Neighborhood='HOPKINS BAYVIEW', count=801),
 Row(Neighborhood='PLEASANT VIEW GARDENS', count=800),
 Row(Neighborhood='SETON BUSINESS PARK', count=796),
 Row(Neighborhood='WEST HILLS', count=788),
 Row(Neighborhood='LAKE WALKER', count=784),
 Row(Neighborhood='FAIRFIELD AREA', count=771),
 Row(Neighborhood='OAKENSHAWE', count=768),
 Row(Neighborhood='CONCERNED CITIZENS OF FOREST PARK', count=744),
 Row(Neighborhood='MIDDLE BRANCH/REEDBIRD PARKS', count=729),
 Row(Neighborhood='TEN HILLS', count=723),
 Row(Neighborhood='BOYD-BOOTH', count=698),
 Row(Neighborhood='EVERGREEN LAWN', count=695),
 Row(Neighborhood="O'DONNELL HEIGHTS", count=693),
 Row(Neighborhood='WOODBOURNE-MCCABE', count=685),
 Row(Neighborhood='COLDSPRING', count=674),
 Row(Neighborhood='FAIRMONT', count=658),
 Row(Neighborhood='KENILWORTH PARK', count=653),
 Row(Neighborhood='LOCUST POINT', count=639),
 Row(Neighborhood='ORIGINAL NORTHWOOD', count=627),
 Row(Neighborhood='CHINQUAPIN PARK', count=621),
 Row(Neighborhood='HOES HEIGHTS', count=612),
 Row(Neighborhood='WILHELM PARK', count=595),
 Row(Neighborhood='ARCADIA', count=592),
 Row(Neighborhood='FRANKLINTOWN', count=574),
 Row(Neighborhood='BELVEDERE', count=560),
 Row(Neighborhood='BURLEITH-LEIGHTON', count=554),
 Row(Neighborhood='SAINT AGNES', count=541),
 Row(Neighborhood='LUCILLE PARK', count=541),
 Row(Neighborhood='WILSON PARK', count=538),
 Row(Neighborhood='WYMAN PARK', count=532),
 Row(Neighborhood='LOCUST POINT INDUSTRIAL AREA', count=523),
 Row(Neighborhood='UPLANDS', count=520),
 Row(Neighborhood='MAYFIELD', count=510),
 Row(Neighborhood='STADIUM AREA', count=508),
 Row(Neighborhood='ROSEBANK', count=499),
 Row(Neighborhood='RADNOR-WINSTON', count=478),
 Row(Neighborhood='MOUNT WINANS', count=475),
 Row(Neighborhood='PATTERSON PARK', count=471),
 Row(Neighborhood='ORANGEVILLE INDUSTRIAL AREA', count=451),
 Row(Neighborhood='MORAVIA-WALTHER', count=445),
 Row(Neighborhood='STONEWOOD-PENTWOOD-WINSTON', count=439),
 Row(Neighborhood='LOWER EDMONDSON VILLAGE', count=435),
 Row(Neighborhood='BEVERLY HILLS', count=427),
 Row(Neighborhood='JONES FALLS AREA', count=426),
 Row(Neighborhood='NORTH ROLAND PARK/POPLAR HILL', count=425),
 Row(Neighborhood='TUSCANY-CANTERBURY', count=402),
 Row(Neighborhood='CARROLL PARK', count=402),
 Row(Neighborhood='SAINT HELENA', count=397),
 Row(Neighborhood='MONTEBELLO', count=394),
 Row(Neighborhood='MORGAN STATE UNIVERSITY', count=385),
 Row(Neighborhood='RICHNOR SPRINGS', count=381),
 Row(Neighborhood='PORT COVINGTON', count=373),
 Row(Neighborhood='EVESHAM PARK', count=362),
 Row(Neighborhood='BARRE CIRCLE', count=359),
 Row(Neighborhood='TREMONT', count=346),
 Row(Neighborhood='OAKLEE', count=345),
 Row(Neighborhood='OVERLEA', count=345),
 Row(Neighborhood='KERNEWOOD', count=345),
 Row(Neighborhood='WYNDHURST', count=318),
 Row(Neighborhood='JOHNS HOPKINS HOMEWOOD', count=313),
 Row(Neighborhood='BELAIR-PARKSIDE', count=308),
 Row(Neighborhood='CROSS KEYS', count=307),
 Row(Neighborhood='WRENLANE', count=306),
 Row(Neighborhood='CEDARCROFT', count=304),
 Row(Neighborhood='DRUID HILL PARK', count=295),
 Row(Neighborhood='PURNELL', count=294),
 Row(Neighborhood='HAWKINS POINT', count=279),
 Row(Neighborhood='EASTWOOD', count=278),
 Row(Neighborhood='LAKE EVESHAM', count=245),
 Row(Neighborhood='HOLABIRD INDUSTRIAL PARK', count=241),
 Row(Neighborhood='SABINA-MATTFELDT', count=229),
 Row(Neighborhood='EVERGREEN', count=217),
 Row(Neighborhood='GWYNNS FALLS/LEAKIN PARK', count=198),
 Row(Neighborhood='YORK-HOMELAND', count=190),
 Row(Neighborhood='DICKEYVILLE', count=158),
 Row(Neighborhood='KESWICK', count=154),
 Row(Neighborhood='FOREST PARK GOLF COURSE', count=153),
 Row(Neighborhood='LOYOLA/NOTRE DAME', count=147),
 Row(Neighborhood='SPRING GARDEN INDUSTRIAL AREA', count=142),
 Row(Neighborhood='SAINT PAUL', count=142),
 Row(Neighborhood='BELLONA-GITTINGS', count=132),
 Row(Neighborhood='THE ORCHARDS', count=125),
 Row(Neighborhood='CURTIS BAY INDUSTRIAL AREA', count=123),
 Row(Neighborhood='HERRING RUN PARK', count=107),
 Row(Neighborhood='MORGAN PARK', count=100),
 Row(Neighborhood='LOWER HERRING RUN PARK', count=79),
 Row(Neighborhood='TAYLOR HEIGHTS', count=79),
 Row(Neighborhood='VILLAGES OF HOMELAND', count=73),
 Row(Neighborhood='GREENMOUNT CEMETERY', count=46),
 Row(Neighborhood='MT PLEASANT PARK', count=31),
 Row(Neighborhood='BLYTHEWOOD', count=10),
 Row(Neighborhood='DUNDALK MARINE TERMINAL', count=5)]

In [180]:
#4.
df.groupby(df.CrimeDateTime[6:2:].alias('Month')).count().sort('count',ascending=False).select ('Month','count').show()

+-----+-----+
|Month|count|
+-----+-----+
|   08|46322|
|   10|46207|
|   07|45982|
|   05|45035|
|   06|44989|
|   09|44827|
|   01|42225|
|   11|42022|
|   12|41593|
|   04|40012|
|   03|39002|
|   02|35540|
+-----+-----+

In [181]:
#5.
df.select('Weapon').distinct().show()

+-------+
| Weapon|
+-------+
|     NA|
|   null|
|  HANDS|
|  KNIFE|
|  OTHER|
|   FIRE|
|FIREARM|
+-------+

In [182]:
#6.
exculde=['NA','null','OTHER']
df2.filter(~df2.Weapon.isin(exculde)).groupBy('Weapon').count().sort('count', ascending=False).show()

+-------+-----+
| Weapon|count|
+-------+-----+
|FIREARM|46217|
|  KNIFE|19181|
|  HANDS| 7222|
|   FIRE| 2348|
+-------+-----+